@import "colors/colors";
$output-css: true;
$output-full: true;
@import "~piet";

@import "typography";
@import "input-range";
pre {
  display: block;
  background-color: color(Blue, 0.1);
  padding: 1.5rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: rem(14);
}

body {
  scroll-behavior: smooth;
}

.page {
  section {
    & + section {
      margin-top: grid(1);
    }
  }
}

.svg-icon {
  border: 2px solid black;
  path,
  rect {
    fill: transparent;
    &.yellow {
      fill: color(Yellow);
    }
    &.pink {
      fill: color(Pink);
    }
    &.blue {
      fill: color(Blue);
    }
  }
  path,
  rect,
  .line,
  line {
    stroke: black;
    stroke-width: 2;
  }
  &.nocolor {
    path,
    rect {
      fill: transparent !important;
    }
  }
}
