@import "colors/colors";
$output-css: true;
$output-full: true;
@import "~piet";

@import "typography";
pre {
  display: block;
  background-color: color(Blue, 0.1);
  padding: 1.5rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: rem(14);
}

body {
  scroll-behavior: smooth;
}
