h1 {
  font-size: grid(1.2);
  @include min-("font-size", 1.2, 48);
  @include max-("font-size", 1.2, 96);
}

h2 {
  font-size: grid(1);
  @include min-("font-size", 1, 40);
  @include max-("font-size", 1, 80);
}

h3 {
  font-size: grid(0.8);
  @include min-("font-size", 0.8, 32);
  @include max-("font-size", 0.8, 60);
}

p {
  font-size: 1rem;
  line-height: 1.75;
}
