pre {
  display: block;
  background-color: rgba($secondary-color, 0.1);
  border: 1px solid rgba($secondary-color, 0.2);
  padding: 1.5rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  font-size: rem(14);
  text-align: left;
  line-height: 2;
  overflow: scroll;
}

p,
td {
  code {
    background-color: rgba($secondary-color, 0.1);
    border: 1px solid rgba($secondary-color, 0.2);
    font-family: "Courier New", Courier, monospace;
    font-weight: 400;
    font-size: rem(14);
    display: inline-block;
    padding: 0.25rem 0.5rem;
  }
}
p,
h2,
h3,
h4,
h5 {
  & + pre,
  & + code {
    margin-top: 1rem;
  }
}

// @if output("components", "code-prism") {
// PrismJS 1.14.0 https://prismjs.com/download.html#themes=prism-dark&languages=markup+css+clike+javascript */
//
// prism.js Dark theme for JavaScript, CSS and HTML
// Based on the slides of the talk “/Reg(exp){2}lained/”
// @author Lea Verou
//

@if output("components", "code", "code-prism") {
  code[class*="language-"],
  pre[class*="language-"] {
    background: none;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
    color: $color-dark;
  }

  @media print {
    code[class*="language-"],
    pre[class*="language-"] {
      text-shadow: none;
    }
  }

  pre[class*="language-"],
  :not(pre) > code[class*="language-"] {
    background: $color-light;
  }

  /* Code blocks */
  pre[class*="language-"] {
    padding: 2rem;
    padding-left: 4rem;
    margin: 0.5em 0;
    overflow: auto;
    border-radius: 0.5em;
    position: relative;
    @extend %Shadow;
    &:before {
      width: 1rem;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      content: "";
      background-color: rgba($primary-color, 0.25);
    }
  }

  /* Inline code */
  :not(pre) > code[class*="language-"] {
    padding: 2rem;
    border-radius: $base-border-radius;
    white-space: normal;
    background: transparent;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: rgba($color-dark, 0.5);
  }

  .token.punctuation {
    opacity: 0.25;
    color: $color-dark;
  }

  .namespace {
    opacity: 0.7;
  }

  .token.function {
    opacity: 0.5;
    color: $primary-color;
  }
  .token.function {
    opacity: 0.5;
    color: $primary-color;
  }
  .token.property,
  .token.tag,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol {
    color: lighten(Pink, 0.2);
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: lighten(Green, 0.2);
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string,
  .token.variable {
    color: lighten(Orange, 20);
  }

  .token.atrule,
  .token.attr-value,
  .token.keyword {
    color: lighten(Pink, 0.2);
  }

  .token.regex,
  .token.important {
    color: lighten(Red, 0.2);
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }
  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }

  .token.deleted {
    color: lighten(Red, 0.2);
  }
  // }
}
