h1 {
  font-size: grid(1.2);
  @include min-("font-size", 1.2, 48);
  @include max-("font-size", 1.2, 96);
}

h2 {
  font-size: grid(1);
  @include min-("font-size", 1, 40);
  @include max-("font-size", 1, 80);
}

h3 {
  font-size: grid(0.6);
  @include min-("font-size", 0.6, 28);
  @include max-("font-size", 0.6, 48);
}
h4 {
  font-size: grid(0.5);
  @include min-("font-size", 0.5, 24);
  @include max-("font-size", 0.5, 36);
}

p {
  font-size: 1rem;
  line-height: 1.75;
}
